## Importing necessary libraries and reading

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
df = pd.read_sas('/home/roger/Datasets/LLCP2020.XPT')
df.shape

/usr/local/lib/python3.8/dist-packages/pandas/io/sas/sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

(401958, 279)

In [72]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,b'01042020',b'01',b'04',b'2020',1100.0,b'2020000001',2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,b'02072020',b'02',b'07',b'2020',1200.0,b'2020000002',2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,b'01232020',b'01',b'23',b'2020',1100.0,b'2020000003',2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0
3,1.0,1.0,b'01092020',b'01',b'09',b'2020',1100.0,b'2020000004',2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,1.0,1.0,b'01042020',b'01',b'04',b'2020',1100.0,b'2020000005',2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0

# Choosing variables

In [73]:
# check for null values of each column and print the count
dfna1 = df.dropna(axis=1)
dfna2 = dfna1.dropna(axis=0)
dfna3 = df.dropna(axis=0)

print("original size", df.shape)
print("after removing columns with null values", dfna1.shape)
print("after removing rows and columns with null values", dfna2.shape)
print("after removing only rows with null values", dfna3.shape)

# Out of 279, 229 columns have null values.
# it can be seen that each row has one or more null values.

original size (401958, 279)
after removing columns with null values (401958, 50)
after removing rows and columns with null values (401958, 50)
after removing only rows with null values (0, 279)

In [74]:
# columns without any null values
dfna1.columns

# I will not be using dfna1, dfna2, dfna3 for future analysis, as it has removed some important columns.

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'SEXVAR', 'QSTVER', 'QSTLANG', '_STSTR', '_STRWT',
       '_RAWRAKE', '_WT2RAKE', '_IMPRACE', '_DUALUSE', '_LLCPWT2', '_LLCPWT',
       '_RFHLTH', '_PHYS14D', '_MENT14D', '_HCVU651', '_TOTINDA', '_LTASTH1',
       '_CASTHM1', '_ASTHMS1', '_EXTETH3', '_DENVST3', '_HISPANC', '_SEX',
       '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G', '_RFBMI5', '_CHLDCNT',
       '_EDUCAG', '_INCOMG', '_SMOKER3', '_RFSMOK3', 'DRNKANY5', 'DROCDY3_',
       '_RFBING5', '_DRNKWK1', '_RFDRHV7', '_RFSEAT2', '_RFSEAT3', '_DRNKDRV'],
      dtype='object')

In [75]:
# print all the unique values of 'sexvar' column
for i in df['SEXVAR'].unique():
    print(i, type(i))

2.0 <class 'numpy.float64'>
1.0 <class 'numpy.float64'>

In [76]:
# list of all columns
cols = list(df.columns)
cols

['_STATE',
 'FMONTH',
 'IDATE',
 'IMONTH',
 'IDAY',
 'IYEAR',
 'DISPCODE',
 'SEQNO',
 '_PSU',
 'CTELENM1',
 'PVTRESD1',
 'COLGHOUS',
 'STATERE1',
 'CELPHONE',
 'LADULT1',
 'COLGSEX',
 'NUMADULT',
 'LANDSEX',
 'NUMMEN',
 'NUMWOMEN',
 'RESPSLCT',
 'SAFETIME',
 'CTELNUM1',
 'CELLFON5',
 'CADULT1',
 'CELLSEX',
 'PVTRESD3',
 'CCLGHOUS',
 'CSTATE1',
 'LANDLINE',
 'HHADULT',
 'SEXVAR',
 'GENHLTH',
 'PHYSHLTH',
 'MENTHLTH',
 'POORHLTH',
 'HLTHPLN1',
 'PERSDOC2',
 'MEDCOST',
 'CHECKUP1',
 'EXERANY2',
 'SLEPTIM1',
 'CVDINFR4',
 'CVDCRHD4',
 'CVDSTRK3',
 'ASTHMA3',
 'ASTHNOW',
 'CHCSCNCR',
 'CHCOCNCR',
 'CHCCOPD2',
 'HAVARTH4',
 'ADDEPEV3',
 'CHCKDNY2',
 'DIABETE4',
 'DIABAGE3',
 'LASTDEN4',
 'RMVTETH4',
 'MARITAL',
 'EDUCA',
 'RENTHOM1',
 'NUMHHOL3',
 'NUMPHON3',
 'CPDEMO1B',
 'VETERAN3',
 'EMPLOY1',
 'CHILDREN',
 'INCOME2',
 'PREGNANT',
 'WEIGHT2',
 'HEIGHT3',
 'DEAF',
 'BLIND',
 'DECIDE',
 'DIFFWALK',
 'DIFFDRES',
 'DIFFALON',
 'SMOKE100',
 'SMOKDAY2',
 'STOPSMK2',
 'LASTSMK2',
 'USENOW3',
 'ALCDAY5',
 'AVEDRNK3',
 'DRNK3GE5',
 'MAXDRNKS',
 'FLUSHOT7',
 'FLSHTMY3',
 'SHINGLE2',
 'PNEUVAC4',
 'FALL12MN',
 'FALLINJ4',
 'SEATBELT',
 'DRNKDRI2',
 'HADMAM',
 'HOWLONG',
 'HADPAP2',
 'LASTPAP2',
 'HPVTEST',
 'HPLSTTST',
 'HADHYST2',
 'PCPSAAD3',
 'PCPSADI1',
 'PCPSARE1',
 'PSATEST1',
 'PSATIME',
 'PCPSARS1',
 'COLNSCPY',
 'COLNTEST',
 'SIGMSCPY',
 'SIGMTEST',
 'BLDSTOL1',
 'LSTBLDS4',
 'STOOLDNA',
 'SDNATEST',
 'VIRCOLON',
 'VCLNTEST',
 'HIVTST7',
 'HIVTSTD3',
 'HIVRISK5',
 'PDIABTST',
 'PREDIAB1',
 'INSULIN1',
 'BLDSUGAR',
 'FEETCHK3',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM1',
 'DIABEYE',
 'DIABEDU',
 'TOLDCFS',
 'HAVECFS',
 'WORKCFS',
 'TOLDHEPC',
 'TRETHEPC',
 'PRIRHEPC',
 'HAVEHEPC',
 'HAVEHEPB',
 'MEDSHEPB',
 'HLTHCVR1',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'CAREGIV1',
 'CRGVREL4',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB3',
 'CRGVALZD',
 'CRGVPER1',
 'CRGVHOU1',
 'CRGVEXPT',
 'ECIGARET',
 'ECIGNOW',
 'MARIJAN1',
 'USEMRJN2',
 'RSNMRJN1',
 'LCSFIRST',
 'LCSLAST',
 'LCSNUMCG',
 'LCSCTSCN',
 'CNCRDIFF',
 'CNCRAGE',
 'CNCRTYP1',
 'CSRVTRT3',
 'CSRVDOC1',
 'CSRVSUM',
 'CSRVRTRN',
 'CSRVINST',
 'CSRVINSR',
 'CSRVDEIN',
 'CSRVCLIN',
 'CSRVPAIN',
 'CSRVCTL2',
 'PCPSADE1',
 'PCDMDEC1',
 'HPVADVC4',
 'HPVADSHT',
 'TETANUS1',
 'IMFVPLA1',
 'BIRTHSEX',
 'SOMALE',
 'SOFEMALE',
 'TRNSGNDR',
 'ACEDEPRS',
 'ACEDRINK',
 'ACEDRUGS',
 'ACEPRISN',
 'ACEDIVRC',
 'ACEPUNCH',
 'ACEHURT1',
 'ACESWEAR',
 'ACETOUCH',
 'ACETTHEM',
 'ACEHVSEX',
 'RCSGENDR',
 'RCSRLTN2',
 'CASTHDX2',
 'CASTHNO2',
 'QSTVER',
 'QSTLANG',
 '_METSTAT',
 '_URBSTAT',
 'MSCODE',
 '_STSTR',
 '_STRWT',
 '_RAWRAKE',
 '_WT2RAKE',
 '_IMPRACE',
 '_CHISPNC',
 '_CRACE1',
 '_CPRACE',
 '_CLLCPWT',
 '_DUALUSE',
 '_DUALCOR',
 '_LLCPWT2',
 '_LLCPWT',
 '_RFHLTH',
 '_PHYS14D',
 '_MENT14D',
 '_HCVU651',
 '_TOTINDA',
 '_MICHD',
 '_LTASTH1',
 '_CASTHM1',
 '_ASTHMS1',
 '_DRDXAR2',
 '_EXTETH3',
 '_ALTETH3',
 '_DENVST3',
 '_PRACE1',
 '_MRACE1',
 '_HISPANC',
 '_RACE',
 '_RACEG21',
 '_RACEGR3',
 '_RACEPRV',
 '_SEX',
 '_AGEG5YR',
 '_AGE65YR',
 '_AGE80',
 '_AGE_G',
 'HTIN4',
 'HTM4',
 'WTKG3',
 '_BMI5',
 '_BMI5CAT',
 '_RFBMI5',
 '_CHLDCNT',
 '_EDUCAG',
 '_INCOMG',
 '_SMOKER3',
 '_RFSMOK3',
 'DRNKANY5',
 'DROCDY3_',
 '_RFBING5',
 '_DRNKWK1',
 '_RFDRHV7',
 '_FLSHOT7',
 '_PNEUMO3',
 '_RFSEAT2',
 '_RFSEAT3',
 '_DRNKDRV',
 '_RFMAM22',
 '_MAM5023',
 '_RFPAP35',
 '_RFPSA23',
 '_CLNSCPY',
 '_SGMSCPY',
 '_SGMS10Y',
 '_RFBLDS4',
 '_STOLDNA',
 '_VIRCOLN',
 '_SBONTIM',
 '_CRCREC1',
 '_AIDTST4']

In [77]:
# To check for the presence of AGE, HEIGHT, and WEIGHT columns in the dataframe
for col in cols:
    if 'AGE' in col or 'WEIGHT' in col or 'HEIGHT' in col:
        print(col)

DIABAGE3
WEIGHT2
HEIGHT3
CNCRAGE
_AGEG5YR
_AGE65YR
_AGE80
_AGE_G

In [78]:
# filtering based on the gender (1,2 ) and weight to be less than 776 lbs. 36<= height(inch) <=95

df2 = df[np.logical_and(df.SEXVAR.isin([1,2]), df.WEIGHT2 < 776)]
df2 = df2[np.logical_and(df2.HTIN4 >= 36, df2.HTIN4 <= 95)]

print(df.shape, df2.shape)

(401958, 279) (360186, 279)

In [79]:
# Quuery filters
# 1. sevar in [1,2]
# 2. weight2 < 776
# 3. htin4 >= 36 and htin4 <= 95
# 4. ageGroup >=1 and ageGroup <= 5
# 5. genheatlth >= 1 and genheatlth <= 5
# 6. income >= 1 

# 7. drinks per day >= 0  and drinks per day <= 999     # Error in calculation
# 8. bmi >= 1 and bmi <= 999                            # Error in calculation        

df2 = df2.query('SEXVAR.isin([1,2]) & WEIGHT2 <= 776 & HTIN4 >= 36 & HTIN4 <= 95 & _AGE_G >= 1 & _AGE_G <= 6 & GENHLTH >=1 & GENHLTH <= 5 & INCOME2 <= 8 & INCOME2 >= 1') # & DROCDY3_ >= 0 & DROCDY3_ <= 900 & _BMI5 >= 1 & _BMI5 <= 9999')

In [80]:
print(df.shape, df2.shape)

(401958, 279) (302114, 279)

# Playground

In [81]:
var = 'MEDCOST'

print(df2[var].describe())
print("\nunique values:",np.sort(list(df2[var].unique())))
print("\nnull values:",df2[var].isna().sum(), df2[var].isnull().sum())
print(df2[var].value_counts().sort_index())

count    302114.000000
mean          1.923648
std           0.363850
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           9.000000
Name: MEDCOST, dtype: float64

unique values: [1. 2. 7. 9.]

null values: 0 0
1.0     26007
2.0    275549
7.0       483
9.0        75
Name: MEDCOST, dtype: int64

In [82]:
var = 'SLEPTIM1'

print(df2[var].describe())
print("\nunique values:",np.sort(list(df2[var].unique())))
print("\nnull values:",df2[var].isna().sum(), df2[var].isnull().sum())
print(df2[var].value_counts().sort_index())

count    302114.000000
mean          7.583197
std           6.223859
min           1.000000
25%           6.000000
50%           7.000000
75%           8.000000
max          99.000000
Name: SLEPTIM1, dtype: float64

unique values: [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 22. 23. 24. 77. 99.]

null values: 0 0
1.0       536
2.0       788
3.0      1943
4.0      7604
5.0     18522
6.0     63663
7.0     91704
8.0     89847
9.0     14786
10.0     7188
11.0      400
12.0     2056
13.0      100
14.0      230
15.0      176
16.0      221
17.0       19
18.0      103
19.0        5
20.0       58
22.0       10
23.0        6
24.0       28
77.0     1901
99.0      220
Name: SLEPTIM1, dtype: int64

In [83]:
# analyzing column: On average, how many cigarettes do you smoke each day?

var = 'LCSNUMCG'

print(df2[var].describe())
print("\nunique values:",np.sort(list(df2[var].unique())))
print("\nnull values:",df2[var].isna().sum(), df2[var].isnull().sum())
print("\nvalue counts\n",df2[var].value_counts().sort_index())

# it has too many null values to be removed, but then we'll be ending with very few data rows in the dataframe to work with.
# so ignore this column.

count    10190.000000
mean        39.404122
std        135.696490
min          1.000000
25%          8.000000
50%         15.000000
75%         20.000000
max        999.000000
Name: LCSNUMCG, dtype: float64

unique values: [  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  23.  24.  25.  26.  28.  29.  30.
  33.  35.  36.  38.  40.  41.  45.  50.  56.  60.  67.  70.  75.  77.
  80.  88.  90.  99. 100. 110. 120. 125. 777. 999.  nan]

null values: 291924 291924

value counts
 1.0       260
2.0       298
3.0       355
4.0       330
5.0       764
6.0       283
7.0       160
8.0       226
9.0        25
10.0     2049
11.0       16
12.0      160
13.0       24
14.0       15
15.0      660
16.0        9
17.0       15
18.0       34
19.0        7
20.0     2841
21.0        5
23.0        3
24.0        9
25.0      122
26.0        2
28.0        2
29.0        1
30.0      421
33.0        1
35.0       44
36.0        1
38.0        1
40.0      497
41.0        1
45.0        8
50.0       59
56.0        2
60.0      119
67.0        1
70.0        5
75.0        9
77.0        3
80.0       25
88.0        1
90.0        1
99.0        2
100.0       5
110.0       2
120.0       1
125.0       1
777.0     266
999.0      39
Name: LCSNUMCG, dtype: int64

In [84]:
# I've found a bug in read_sas, where on certain fields, 0.0 (floats) are read in as 5.397605e-79 (lowest IBM float value).

df2.replace(5.397605346934028e-79, 0, inplace = True)

In [85]:
# consider these columns:

# _STATE : state name
# _SEX : gender [1:male. 2:female]
# _TOTINDA : Adults who reported doing physical activity or exercise during the past 30 days other than their regular job [1: yes, 2:no, 9:don't know]
# _ASTHMS1 : asthma status 1:current, 2: former, 3:never 9:don't know
# _AGE80 : age
# _CHLDCNT : children count [1: 0 child, 2 : one child, 3: two children, 4: three children, 5: four children, 6: five or more children, 9: unknown]
# EDUCA : Education level [1: No school, 2: elementary{1-8}, 3: high school{9-11}, 4:GED, 5: college, 6:College graduate, 9: unknown]
# INCOME2 : annual household income [1: less than $10,000, 2: $10,000-$14,999, 3: $15,000-$19,999, 4: $20,000-$24,999, 5: $25,000--$34,999, 6: $35,000--$49,999, 7: $50,000--$74,999, 8: $75,000 or more, 77: unknown, 99: unknown, BLANK: unknown]
# DROCDY3_ : Drink-occasions-per-day  [0-899, 900- unknown] (some outliers - apply filter)
# GENHLTH : General health status [1: excellent, 2: very good, 3: good, 5:fair, 5: poor, 7,9,Blank: unknown]
# SLEPTIM1 : average sleep hours per day [1-24: hours, 77,99,Blank: unknown]
# MARITAL : marital status [1: married, 2: divorced, 3: widowed, 4: separated, 5: never married, , 6: Unmarried Couple member, 9,Blank: unknown]
# EMPLOY1 : employment status 
# _BMI5 : 1-9999, BLANK: unknown - use filter to remove nan values.
# _BMI5CAT : 1: underweight, 2: normal, 3: overweight, 4: obese, BLANK: unknown
# _SMOKER3 : 1:everyday, 2: occassional, 3: former, 4: never, 9: unknown

In [86]:
# Some more queries
# 1<= SLEPTIM1 <= 24
# CHECKUP1 <= 9
# MARITAL <= 6
# EDUCA <= 6
# _CHLDCNT <= 6
# EMPLOY1 <= 8
# _SMOKER3 <= 4

df2 = df2.query('SLEPTIM1 <= 24 & CHECKUP1 <= 9 & MARITAL <= 6 & EDUCA <= 6 & _CHLDCNT <= 6 & EMPLOY1 <= 8 & _SMOKER3 <= 4')

In [87]:
df2.shape

(291207, 279)

In [102]:
df2['WEIGHT2']

0         106.0
5         180.0
6         150.0
7         150.0
8         170.0
          ...
401950    110.0
401952    220.0
401954    168.0
401955    159.0
401957    197.0
Name: WEIGHT2, Length: 291207, dtype: float64

# Preparing Dataset

In [88]:
df3 = pd.DataFrame()


healthMap ={1:'5-excellent',2:'4-verygood',3:'3-good',4:'2-fair',5:'1-poor'}
ailmentMap = {1:'yes',2:'no',3:'unknown',7:'unknown', 9:'unknown','': 'no'}
diabetesMap = {1:'yes', 2:'no', 3:'no', 4:'no', 7:'no', 9:'no'}
maritalMap = {1:'1-married',2:'2-divorced',3:'3-widowed',4:'4-separated',5:'5-nevermarried', 6:'6-unmarriedcouple',9:'7-unknown'}
maritalSummary = {1:'yes',2:'no',3:'no', 4:'yes', 5:'no', 6:'no', 9:'unknown'}
educationMap = {1:'1-none', 2:'2-elementary', 3:'3-somehs', 4:'4-hs',5:'5-somecollege',6:'6-college', 9:'7-unknown'}
veteranMap = {1:'yes',2:'no', 7:'unknown', 9:'unknown'}
stateMap = {1:'AZ', 2:'AK', 4:'AZ',5:'AR',6:'CA', 8:'CO', 9:'CT',10:'DE',11:'DC',12:'FL',13:'GA',
           15:'HI',16:'ID',17:'IL',18:'IN',19:'IA',20:'KS', 21:'KY',22:'LA',23:'ME', 24:'MD', 25:'MA',26:'MI',
           27:'MN',28:'MS', 29:'MO', 30:'MT', 31:'NE',32:'NV', 33:'NH', 34:'NJ', 35:'NM',36:'NY', 37:'NC',
           38:'ND', 39:'OH',40:'OK',41:'OR', 42:'PA',44:'RI',45:'SC', 46:'SD', 47:'TN', 48:'TX', 49:'UT',
           50:'VT', 51:'VA', 53:'WA', 54:'WV',55:'WI', 56:'WY', 66:'Guam', 72:'PR'}
PhysicalActivityMap = {1:'yes', 2:'no', 7:'no', 9:'no'}
ChildCntMap = {1:'0-zero', 2:'1-one', 3:'2-two', 4:'3-three', 5:'4-four', 6:'5-fiveplus', 9:'6-unknown'}
employmentMap = {1:'1-employed', 2:'2-self-employed', 3:'3-outofwork', 4:'3-outofwork', 5:'4-homemaker', 
                6:'5-student', 7:'6-retired', 8:'7-unableToWork', 9:'8-unknown'}
smokerMap = {1:'4-everyday', 2: '2-occassional', 3: '3-former', 4: '1-never', 9: '5-unknown'}
insuranceMap = {1:'yes', 2:'no', 7:'no', 9:'no'}
checkupMap = {1:'1-in1-Year', 2:'2-in2-Years', 3:'3-in5-Years', 4:'4-5orMore-Years', 7:'4-5orMore-Years', 8:'4-5orMore-Years', 9:'4-5orMore-Years','':'4-5orMore-Years'}
nohospitalcostMap = {1:'yes', 2:'no', 7:'no', 9:'no'}

df3['age'] = df2['_AGE80']
df3['gender'] = df2['SEXVAR'].map({1:'male',2:'female'})
df3['weight'] = df2['WEIGHT2'].round(-1)  # rounding to nearest 10th value.
df3['height'] = df2['HTIN4']
df3['ageGroup'] = df2['_AGE_G']
df3['genhealth'] = df2['GENHLTH'].map(healthMap)
df3['asthma_ever'] = df2['ASTHMA3'].map(ailmentMap)
df3['asthma'] = df2['ASTHNOW'].map(ailmentMap)
df3['skincancer'] = df2['CHCSCNCR'].map(ailmentMap)
df3['othercancer'] = df2['CHCOCNCR'].map(ailmentMap)
df3['copd'] = df2['CHCCOPD2'].map(ailmentMap)
df3['arthritis'] = df2['HAVARTH4'].map(ailmentMap)
df3['depression'] = df2['ADDEPEV3'].map(ailmentMap)
df3['kidneydis'] = df2['CHCKDNY2'].map(ailmentMap)
df3['diabetes'] = df2['DIABETE4'].map(diabetesMap)
df3['maritaldetail'] = df2['MARITAL'].map(maritalMap)
df3['married'] = df2['MARITAL'].map(maritalSummary)
df3['education'] = df2['EDUCA'].map(educationMap)
df3['veteran'] = df2['VETERAN3'].map(ailmentMap)
df3['income'] = df2['INCOME2']
df3['state'] = df2['_STATE'].map(stateMap)
df3['childcnt'] = df2['_CHLDCNT'].map(ChildCntMap)
df3['sleephours'] = df2['SLEPTIM1']
df3['employment'] = df2['EMPLOY1'].map(employmentMap)
df3['smokertype'] = df2['_SMOKER3'].map(smokerMap)

df3['physicalactivity'] = df2['EXERANY2'].map(PhysicalActivityMap)
df3['insurance'] = df2['HLTHPLN1'].map(insuranceMap)
df3['checkup'] = df2['CHECKUP1'].map(checkupMap)
df3['nohospitalcost'] = df2['MEDCOST'].map(nohospitalcostMap)

In [89]:
# new columns : BMI and BMI category
# BMI = (weight in pounds x 703) / (height in inches x height in inches).

df3['bmi'] = (df2['WEIGHT2'] * 703) / np.square(df2['HTIN4'])

def bmicatmap(bmi):
    if bmi < 18.5:
        return '1-underweight'
    elif bmi >= 18.5 and bmi <= 24.9:
        return '2-normal'
    elif bmi >= 25 and bmi <= 29.9:
        return '3-overweight'
    elif bmi >= 30 and bmi < 40:
        return '4-obese'
    else:
        return '5-extremely obese'

df3['bmi'] = df3['bmi'].round() # rounding to nearest integer

df3['bmicat'] = df3['bmi'].apply(bmicatmap)

var = 'bmicat'

print(df3[var].describe())
print("\nunique values:",np.sort(list(df3[var].unique())))
print("\nnull values:",df3[var].isna().sum(), df3[var].isnull().sum(), "\n")
print(df3[var].value_counts().sort_index())

count           291207
unique               5
top       3-overweight
freq            103542
Name: bmicat, dtype: object

unique values: ['1-underweight' '2-normal' '3-overweight' '4-obese' '5-extremely obese']

null values: 0 0

1-underweight          4297
2-normal              78198
3-overweight         103542
4-obese               88253
5-extremely obese     16917
Name: bmicat, dtype: int64

In [90]:
var = 'bmi'

print(df3[var].describe())
print("\nunique values:",np.sort(list(df3[var].unique())))
print("\nnull values:",df3[var].isna().sum(), df3[var].isnull().sum(), "\n")
# print(df3[var].value_counts().sort_index())

print("Applying the filter of bmi<60")
df3 = df3.query('bmi < 60')

print("original shape",df3.shape, "\nnew shape",df3.shape)
print(df3[var].describe())

count    291207.000000
mean         28.464168
std           6.421194
min           8.000000
25%          24.000000
50%          27.000000
75%          32.000000
max         194.000000
Name: bmi, dtype: float64

unique values: [  8.   9.  10.  11.  12.  13.  14.  15.  16.  17.  18.  19.  20.  21.
  22.  23.  24.  25.  26.  27.  28.  29.  30.  31.  32.  33.  34.  35.
  36.  37.  38.  39.  40.  41.  42.  43.  44.  45.  46.  47.  48.  49.
  50.  51.  52.  53.  54.  55.  56.  57.  58.  59.  60.  61.  62.  63.
  64.  65.  66.  67.  68.  69.  70.  71.  72.  73.  74.  75.  76.  77.
  78.  79.  80.  81.  82.  83.  84.  85.  87.  88.  89.  90.  92.  93.
  94.  95. 102. 103. 106. 108. 110. 111. 117. 122. 124. 125. 132. 141.
 155. 191. 194.]

null values: 0 0

Applying the filter of bmi<60
original shape (290759, 31)
new shape (290759, 31)
count    290759.000000
mean         28.401522
std           6.197044
min           8.000000
25%          24.000000
50%          27.000000
75%          32.000000
max          59.000000
Name: bmi, dtype: float64

In [91]:
var = 'bmicat'

print(df3[var].describe())
print("\nunique values:",np.sort(list(df3[var].unique())))
print("\nnull values:",df3[var].isna().sum(), df3[var].isnull().sum(), "\n")
print(df3[var].value_counts().sort_index())

count           290759
unique               5
top       3-overweight
freq            103542
Name: bmicat, dtype: object

unique values: ['1-underweight' '2-normal' '3-overweight' '4-obese' '5-extremely obese']

null values: 0 0

1-underweight          4297
2-normal              78198
3-overweight         103542
4-obese               88253
5-extremely obese     16469
Name: bmicat, dtype: int64

In [92]:
# looking at the values of a column - number of drnks per day in the past 30 days
# in the form of 1xx days per week (01 <= xx <= 07), 2yy days per month (01 <= yy <= 30)

var = 'ALCDAY5'

print(df2[var].describe())
print("\nunique values:",np.sort(list(df2[var].unique())))
print("\nnull values:",df2[var].isna().sum(), df2[var].isnull().sum())
df2[var].value_counts().sort_index()

count    289377.000000
mean        507.525066
std         355.186247
min         101.000000
25%         202.000000
50%         230.000000
75%         888.000000
max         999.000000
Name: ALCDAY5, dtype: float64

unique values: [101. 102. 103. 104. 105. 106. 107. 201. 202. 203. 204. 205. 206. 207.
 208. 209. 210. 211. 212. 213. 214. 215. 216. 217. 218. 219. 220. 221.
 222. 223. 224. 225. 226. 227. 228. 229. 230. 777. 888. 999.  nan]

null values: 1830 1830

101.0     12561
102.0     10579
103.0      7480
104.0      3700
105.0      3578
106.0      1250
107.0      5518
201.0     21454
202.0     16845
203.0      9586
204.0      8190
205.0      8267
206.0      3070
207.0      2170
208.0      2457
209.0       201
210.0      6696
211.0        48
212.0      1484
213.0        81
214.0       491
215.0      5623
216.0       209
217.0        84
218.0       201
219.0         9
220.0      5895
221.0       167
222.0       148
223.0        73
224.0       154
225.0      2574
226.0       145
227.0       216
228.0       804
229.0       280
230.0     12704
777.0      1842
888.0    132048
999.0       495
Name: ALCDAY5, dtype: int64

In [93]:
# new columns : days of drinks in a month

def drinksmap(x):

    if x>=101 and x<=107:  # number of days of drinks per week, multiplied by 4 to average it to month.
        return (x-100)*(4)
    elif x>=201 and x<=230:
        return (x-200)     # number of drinks per month
    else:
        return 0
    
df3['drinks'] = df2['ALCDAY5'].apply(drinksmap)

var = 'drinks'

print(df3[var].describe())
print("\nunique values:",np.sort(list(df3[var].unique())))
print("\nnull values:",df3[var].isna().sum(), df3[var].isnull().sum(), "\n")
print(df3[var].value_counts().sort_index())

count    290759.000000
mean          5.343288
std           8.531071
min           0.000000
25%           0.000000
50%           1.000000
75%           8.000000
max          30.000000
Name: drinks, dtype: float64

unique values: [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30.]

null values: 0 0

0.0     135919
1.0      21416
2.0      16822
3.0       9574
4.0      20732
5.0       8256
6.0       3067
7.0       2170
8.0      13031
9.0        201
10.0      6691
11.0        48
12.0      8959
13.0        81
14.0       491
15.0      5620
16.0      3906
17.0        84
18.0       201
19.0         9
20.0      9471
21.0       167
22.0       148
23.0        73
24.0      1403
25.0      2574
26.0       145
27.0       216
28.0      6321
29.0       280
30.0     12683
Name: drinks, dtype: int64

In [94]:
df3.describe()

,age,weight,height,ageGroup,income,sleephours,bmi,drinks
count,290759.000000,290759.000000,290759.000000,290759.000000,290759.000000,290759.000000,290759.000000,290759.000000
mean,54.143683,183.066939,67.179406,4.332303,6.119253,7.077336,28.401522,5.343288
std,17.323897,45.567441,4.158820,1.592023,2.056356,1.440431,6.197044,8.531071
min,18.000000,50.000000,36.000000,1.000000,1.000000,1.000000,8.000000,0.000000
25%,40.000000,150.000000,64.000000,3.000000,5.000000,6.000000,24.000000,0.000000
50%,56.000000,180.000000,67.000000,5.000000,7.000000,7.000000,27.000000,1.000000
75%,68.000000,210.000000,70.000000,6.000000,8.000000,8.000000,32.000000,8.000000
max,80.000000,550.000000,92.000000,6.000000,8.000000,24.000000,59.000000,30.000000

In [95]:
print(df3.columns)
print("\nshape",df3.shape)
df3.asthma.describe()

Index(['age', 'gender', 'weight', 'height', 'ageGroup', 'genhealth',
       'asthma_ever', 'asthma', 'skincancer', 'othercancer', 'copd',
       'arthritis', 'depression', 'kidneydis', 'diabetes', 'maritaldetail',
       'married', 'education', 'veteran', 'income', 'state', 'childcnt',
       'sleephours', 'employment', 'smokertype', 'physicalactivity',
       'insurance', 'checkup', 'nohospitalcost', 'bmi', 'bmicat', 'drinks'],
      dtype='object')

shape (290759, 32)

count     39469
unique        3
top         yes
freq      27661
Name: asthma, dtype: object

In [96]:
df3.isnull().sum()

age                      0
gender                   0
weight                   0
height                   0
ageGroup                 0
genhealth                0
asthma_ever              0
asthma              251290
skincancer               0
othercancer              0
copd                     0
arthritis                0
depression               0
kidneydis                0
diabetes                 0
maritaldetail            0
married                  0
education                0
veteran                  0
income                   0
state                    0
childcnt                 0
sleephours               0
employment               0
smokertype               0
physicalactivity         0
insurance                0
checkup                  0
nohospitalcost           0
bmi                      0
bmicat                   0
drinks                   0
dtype: int64

In [97]:
# ASTHMA column has null values.

var = 'asthma'

print(df3[var].describe())
print("\nunique values:",np.sort(list(df3[var].unique())))
print("\nnull values:",df3[var].isna().sum(), df3[var].isnull().sum())
print(df3[var].value_counts().sort_index())

df3.fillna(value='no', inplace=True) # fill all null values with 'no'.

print("After filling null values:")
print("\nunique values:",np.sort(list(df3[var].unique())))
print("\nnull values:",df3[var].isna().sum(), df3[var].isnull().sum())

print(df3[var].value_counts())

count     39469
unique        3
top         yes
freq      27661
Name: asthma, dtype: object

unique values: ['nan' 'no' 'unknown' 'yes']

null values: 251290 251290
no         10784
unknown     1024
yes        27661
Name: asthma, dtype: int64
After filling null values:

unique values: ['no' 'unknown' 'yes']

null values: 0 0
no         262074
yes         27661
unknown      1024
Name: asthma, dtype: int64

In [98]:
print(df3.isna())
df3.isnull().sum()

          age  gender  weight  height  ageGroup  genhealth  asthma_ever  \
0       False   False   False   False     False      False        False
5       False   False   False   False     False      False        False
6       False   False   False   False     False      False        False
7       False   False   False   False     False      False        False
8       False   False   False   False     False      False        False
...       ...     ...     ...     ...       ...        ...          ...
401950  False   False   False   False     False      False        False
401952  False   False   False   False     False      False        False
401954  False   False   False   False     False      False        False
401955  False   False   False   False     False      False        False
401957  False   False   False   False     False      False        False

        asthma  skincancer  othercancer  ...  sleephours  employment  \
0        False       False        False  ...       False       False
5        False       False        False  ...       False       False
6        False       False        False  ...       False       False
7        False       False        False  ...       False       False
8        False       False        False  ...       False       False
...        ...         ...          ...  ...         ...         ...
401950   False       False        False  ...       False       False
401952   False       False        False  ...       False       False
401954   False       False        False  ...       False       False
401955   False       False        False  ...       False       False
401957   False       False        False  ...       False       False

        smokertype  physicalactivity  insurance  checkup  nohospitalcost  \
0            False             False      False    False           False
5            False             False      False    False           False
6            False             False      False    False           False
7            False             False      False    False           False
8            False             False      False    False           False
...            ...               ...        ...      ...             ...
401950       False             False      False    False           False
401952       False             False      False    False           False
401954       False             False      False    False           False
401955       False             False      False    False           False
401957       False             False      False    False           False

          bmi  bmicat  drinks
0       False   False   False
5       False   False   False
6       False   False   False
7       False   False   False
8       False   False   False
...       ...     ...     ...
401950  False   False   False
401952  False   False   False
401954  False   False   False
401955  False   False   False
401957  False   False   False

[290759 rows x 32 columns]

age                 0
gender              0
weight              0
height              0
ageGroup            0
genhealth           0
asthma_ever         0
asthma              0
skincancer          0
othercancer         0
copd                0
arthritis           0
depression          0
kidneydis           0
diabetes            0
maritaldetail       0
married             0
education           0
veteran             0
income              0
state               0
childcnt            0
sleephours          0
employment          0
smokertype          0
physicalactivity    0
insurance           0
checkup             0
nohospitalcost      0
bmi                 0
bmicat              0
drinks              0
dtype: int64

In [99]:
# I have already generated and started analyzing, so I don't want to overwrite the data.
df3.to_csv('/home/roger/Datasets/llcp.csv', index=False)

# Playground 2 
with final dataset

In [100]:
# read llcpA.csv file
dff = pd.read_csv('/home/arun/HPCC-covid19/LLCP/llcpA.csv')
print(dff.shape)

FileNotFoundError: [Errno 2] No such file or directory: '/home/arun/HPCC-covid19/LLCP/llcpA.csv'

In [ ]:
dff.columns

In [ ]:
var = 'nohospitalcost'

print(dff[var].describe())
print("\nunique values:",len(np.sort(list(dff[var].unique()))), "\n", np.sort(list(dff[var].unique())))
print("\nnull values:",dff[var].isna().sum(), dff[var].isnull().sum(), "\n")
print(dff[var].value_counts().sort_index())

In [ ]:
dff.isnull().sum()

In [ ]:
np.sort(dff['bmi'].unique())

In [ ]:
dff[dff.eq(5.397605346934028e-79).any(1)]

In [ ]:
# draw corelation heatmap of df3
import seaborn as sns
%matplotlib inline
sns.heatmap(dff.corr(), annot=True)
plt.show()

* observe the correlation between drinks, income and height.

* observe the correlation between bmi, height and weight.